body {
    margin: 60px auto;
    width: 70%;
    background-color: #faf0e6;
}
nav ul, footer ul {
    font-family:'Century Gothic', 'Avenir';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #804000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.2em;
    font-family:'Century Gothic', 'Avenir';
    font-weight: bold;
    color: #331a00;
}
h2 {
    font-size: 1.5em;
    font-family:'Century Gothic', 'Avenir';
    font-weight: bold;
    color: #4d2800;
}
p {
    font-size: 1em;
    line-height: 0.9em;
    color: #1a1a1a;
    font-family:'Century Gothic', 'Avenir';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
