<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Nil Sahin</a></li>
	        		<li><a href="/files/NilSahin_CV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<img src="/files/nil.jpg" alt="hi" class="inline "width="100" height="100" style="border:3px solid black"/>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
              			<li><a href="mailto:nil.sahin@mail.utoronto.ca">Email me</a></li>
        		  	<li><a href="https://github.com/nsahin">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/nilsahin/">LinkedIn</a></li>
				<li><a href="https://scholar.google.ca/citations?user=Ka_8KfEAAAAJ&hl=en">Google Scholar</a></li>
			</ul>
			</footer>
		</body>
	</html>
